/* BEG - Reset */
html,
body {
  height: 100%;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* END - Reset */

:root {
  --user-font-scale: 1rem - 16px;
  --max-width: calc(100% - 1rem);
}

@media (min-width: 50em) {
  :root {
    --max-width: 46em;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  font-size: clamp(1rem, 0.85rem + 0.375vw + var(--user-font-scale), 1.5rem);
  line-height: 1.5;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

ul.nav-menu li {
  display: inline;
}

ul.about-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5em;
}

ul.about-list li {
  display: inline;
}

#main-navigation {
  display: none;
}

@media (min-width: 42em) {
  #main-navigation {
    display: flex;
    margin-left: auto;
  }
}

.nav-item {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

a {
  color: var(--theme-text-accent);
  text-decoration: none;
  align-items: center;
}

a:hover {
  text-decoration: underline;
}

header,
footer,
section {
  width: 100%;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.header-inner-wrap {
  display: flex;
  align-items: center;
  position: relative;

  margin-left: auto;
  margin-right: auto;
  max-width: 45em;

  padding-left: 1em;
  padding-right: 1em;
  min-height: 4em;
}

.section-inner-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 45em;
  padding-left: 1em;
  padding-right: 1em;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

#theme-toggle {
  display: none;
}
.pointer {
  cursor: pointer;
}
