---

const {text} = Astro.props;
---
<style>
  .description-badge {
    /* display: inline-block; */
    padding: 0.25rem .5rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--neutral-900);
    background-color: darkcyan;
    
    border-radius: 5px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
</style>
<li class="description-badge" data-animation="fade-in">
  {text}
</li>