---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { projects } from "../../data/projects";

export async function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { id: project.id.toString() },
      props: { project }
    }
  })
}



const { id } = Astro.params;
const {project} = Astro.props;


---

<DefaultLayout title="Blog">
  <section class="margin-48">
    <div class="container">
      <h1>{project.title}</h1><br>
      {project.tags.map((tag)=><span>{tag}</span>)}
    </div>
  </section>
  <section class="margin-48">
    <div class="container">
      <p class="size-20">{project.text}</p>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>